<!DOCTYPE html>
<html lang="en">

<head>

    <title>Contact</title>
    <link rel="icon" href="../static/images/icon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="icon" href="../static/images/icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>

<body style="font-size:16px";>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <div class="container">
          <div class="hidden-xs"><a class="navbar-brand" href="#"><img src="../static/images/logo.png" alt="LOGO"></a></div>
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="background-color: #000000;"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active"><a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a></li>
              <li class="nav-item"><a class="nav-link" href="/home">About</a></li>
              <li class="nav-item"><a class="nav-link" href="/home">Pledge</a></li>
              <li class="nav-item"> <a class="nav-link" href="/contact">Contact</a></li>
              <li class="nav-item"> <a class="nav-link" href="/register">Login/Register</a></li>
            </ul>
          </div>
        </div>
      </nav>

    <header class="jumbotron"></header>

    </header>

    <div class="container">
        <div class="row">
            <ol class="col-12 breadcrumb bg-dark">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item active">Contact Us</li>
            </ol>
            <div class="col-12 ">
               <h3>Contact Us</h3>
               <hr>
            </div>
        </div>

        <div class="row row-content bg-warning text-dark">
           <div class="col-12">
              <h3>Location Information</h3>
           </div>
            <div class="col-12 col-sm-4 offset-sm-1 mb-3">
                   <h5>Our Address</h5>
                    <address style="font-size: 100%">
		              XYZ, main circle road<br>
		              Opposite Complex, PQR<br>
		              INDIA.<br>
		              <i class="fa fa-phone"></i>: (+91)7823309932<br>
		              <i class="fa fa-fax"></i>: (+91)7758454534<br>
		              <i class="fa fa-envelope"></i>:
                        <a href="mailto:confusion@food.net">donation@covid.net</a>
		           </address>
            </div>
           
            <div class="col-12 col-sm-11 offset-sm-1">
                <div class="btn-group mb-3" role="group">
                    <a role="button" class="btn btn-primary" href="tel:+8096591391"><i class="fa fa-phone"></i> Call</a>
                    <a role="button" class="btn btn-info"><i class="fa fa-skype"></i> Skype</a>
                    <a role="button" class="btn btn-success" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=youremail@gmail.com&body=my-text"><i class="fa fa-envelope-o"></i> Email</a>
                </div>
            </div>
        </div>

        <div class="row row-content mt-4 mb-4" style="border: 1px solid darkslategray;">
           <div class="col-12 mt-2">
              <h3>Send us your Feedback</h3>
           </div>
            <div class="col-12 col-md-9 ">
                <form class="mb-3">
                    <div class="form-group row mb-3">
                        <label for="firstname" class="col-md-2 col-form-label">First Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name">
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label for="lastname" class="col-md-2 col-form-label">Last Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="telnum" class="col-12 col-md-2 col-form-label">Contact Tel.</label>
                        <div class="col-5 col-md-3">
                            <input type="tel" class="form-control" id="areacode" name="areacode" placeholder="Area code">
                        </div>
                        <div class="col-7 col-md-7">
                            <input type="tel" class="form-control" id="telnum" name="telnum" placeholder="Tel. number">
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label for="emailid" class="col-md-2 col-form-label mt-3">Email</label>
                        <div class="col-md-10">
                            <input type="email" class="form-control mt-3" id="emailid" name="emailid" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <div class="col-md-6 offset-md-2">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="approve" id="approve" value="">
                                <label class="form-check-label mt-4" for="approve">
                                    <strong>May we contact you?</strong>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3 offset-md-1">
                            <select class="form-control">
                                <option>Tel.</option>
                                <option>Email</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="feedback" class="col-md-2 col-form-label">Your Feedback</label>
                        <div class="col-md-10">
                            <textarea class="form-control" id="feedback" name="feedback" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <div class="offset-md-2 col-md-10">
                            <button type="submit" class="btn btn-primary">Send Feedback</button>
                        </div>
                    </div>
                </form>
            </div>
             <div class="col-12 col-md">
            </div>
       </div>

    </div>
</div> <footer class="mainfooter" id="contact-us">
    <div class="container py-5">
        <div class="row text-center">
            <div class="col-xs-6 col-sm-12 col-md col-lg">
                <!--Column1-->
                <div class="footer-pad">
                  <h5>Pledge India</h5>
                  <address>
                        <ul class="list-unstyled">
                          <li><a href="#">Home</a></li>
                          <li><a href="#">About Us</a></li>
                          <li><a href="#">Pledge</a></li>
                          <li><a href="#">Contact Us</a></li>
                        </ul>
                      </address>
                </div>
              </div>
              <div class="col-xs-6 col-sm-12 col-md col-lg">
                <!--Column1-->
                <div class="footer-pad">
                  <h5>Get Involved</h5>
                  <ul class="list-unstyled">
                    <li><a href="#">Take Pledge</a></li>
                    <li><a href="#">Do Something</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md col-lg">
                <!--Column1-->
                <div class="footer-pad">
                  <h5>Stay Connected</h5>
                  <ul class="list-unstyled">
                    <li><a href="https://www.tumblr.com/"><i class="fab fa-tumblr-square"></i></a></li>
                    <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="https://www.pinterest.com/"><i class="fab fa-pinterest-square"></i></a></li>
                    
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                <!--Column1-->
                <div class="footer-pad">
                  <div class="footer-subscribe">
                    <h5>YOU MAY NOT THINK YOU'RE AN ACTIVIST... BUT WE DO.</h5>

                    <div class="email-btn-wrapper">
                      <input type="email" class="footer-email" placeholder="Email ID"/>
                      <button class="btn-join">JOIN</button><br /><br />
                      
                    </div>

                  </div>
                </div>
              </div>
        </div>
  
    
</div>
  <footer class="mainfooter" id="contact-us">
   
    <div class="after-footer pr-5 pl-5 py-3 justify-content-sm-center text-right">
      <a href="#" class="m-2">Privacy Policy</a>
      <a href="#" class="m-2">Terms of Service</a>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
